# Folders
build/
.vscode/

# Files
*.ppm
imgui.ini

# CMake Windows
.vs/
_deps/
CMakeFiles/
Debug/
inOneWeekend.dir/
CMakeCache.txt
cmake_install.cmake
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters